[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm
[submodule "gnome-extensions/window-blur-effects"]
	path = gnome-extensions/window-blur-effects
	url = ../../lethosor/gnome-shell-extension-wbe
